[submodule "protos"]
	path = protos
	url = https://github.com/lootopia-org/protos.git
[submodule "migrations"]
	path = migrations
	url = https://github.com/lootopia-org/migrations.git
[submodule "assets"]
	path = assets
	url = https://github.com/lootopia-org/assets.git
